<%- include('partials/header'); -%>

<h1>Here is my search page.</h1>

<form action="/search" method="get">
  <input type="text" name="movie" placeholder="search movie" />
  <button>Submit</button>
</form>

<!-- include foorr -->
<%- include('partials/footer'); -%>
